@import "../../frontend/event-base.less";
/*
@calendar_item_border
@calendar_item_text
@calendar_item_bg
@calendar_item_text_hover
@past_calendar_item_bg
@past_calendar_item_border
@past_calendar_item_text
@past_calendar_item_text_hover
*/

body .fc { position:relative; /* NOTE:added so that the loading overlay will work */ }

/* default look for background events */
body .fc-bgevent { background:@calendar_item_bg; opacity:.3; filter:alpha(opacity=30); /* for IE */ color:@calendar_item_text; border-color:@calendar_item_border; }

body .fc-event {
	position:relative; /* for resize handle and other inner positioning */
	display:block; /* make the <a> tag block */
	font-size:.85em; line-height:1.3; border-radius:3px;
	border:1px solid @calendar_item_border; /* default BORDER color */
	background-color:@calendar_item_bg; /* default BACKGROUND color */
	font-weight:normal; /* undo jqui's ui-widget-header bold */
}

/* overpower some of bootstrap's and jqui's styles on <a> tags */
body .fc-event-container .fc-event,
body .fc-event-container .fc-event:hover,
body .ui-widget .fc-event {
	color:@calendar_item_text; /* default TEXT color */
	text-decoration:none; /* if <a> has an href */
}

/* ADDED:status styling */
body .fc-event-container .fc-event.status-hidden { border:1px dashed rgb(33, 78, 99); opacity:0.5; filter:alpha(opacity=50); }
body .fc-event-container .fc-event.status-private { border:1px dashed rgb(255, 255, 255); font-style:italic; color:#c0c0c0; }
body .fc-event .event-item { padding:0.2em 0 0.2em 0.2em; }

body .fc-event-container .fc-event:hover { color:@calendar_item_text_hover; }

body .fc-event.in-the-past,
body .fc-event.in-the-past:hover,
body .ui-widget .fc-event.in-the-past {
	color:@past_calendar_item_text; /* default TEXT color */
	background-color:@past_calendar_item_bg; border-color:@past_calendar_item_border;
	text-decoration:none; /* if <a> has an href */
}

body .fc-event.in-the-past:hover { color:@past_calendar_item_text_hover; }

body .fc-event[href],
body .fc-event.fc-draggable { cursor:pointer; /* give events with links and draggable events a hand mouse pointer */ }

/* to override an event's custom cursor */
body .fc-not-allowed, /* causes a "warning" cursor. applied on body */
body .fc-not-allowed .fc-event { cursor:not-allowed; }

/* the generic .fc-bg already does position */
body .fc-event .fc-bg { z-index:1; background:@calendar_item_bg; opacity:.25; filter:alpha(opacity=25); /* for IE */ }

/* the generic .fc-bg already does position */
body .fc-event.in-the-past .fc-bg { z-index:1; background:@past_calendar_item_bg; opacity:.25; filter:alpha(opacity=25); /* for IE */ }

/* stylize the event information elements */
body .fc-event .fc-time { font-weight:700; }
body .fc-event .fc-title { text-decoration:underline; font-weight:300; }
body .fc-event .fc-availability { font-style:italic; font-weight:500; font-size:0.8em; }
body .fc-event .fc-img img { max-width:100%; height:auto; width:auto; }
